//@import "~igniteui-angular/lib/core/styles/themes/index";
@import "~@infragistics/igniteui-angular/lib/core/styles/themes/index";

$legacy-support: true;
$palette: $light-fluent-word-palette;
$schema: $light-material-schema;

$default-palette: $palette;
$igx-legacy-support: $legacy-support;

